
.header{
    width: 100%;
    height: 100px;
    line-height: 80px;
    position: fixed;
    top :0;
    left: 0;
    color: #fff;
    z-index: 9;
    background-color: rgb(4, 4, 20);

}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav_list{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    list-style: none;
    column-gap: 2.7rem;
    margin-right: 130px;
}
.logo h2{
    color: orange;
    margin-bottom: 0;
}
.logo i {
    color: #fff;
}
.nav_item a{
    color : #fff;    
    cursor: pointer;
    transition: 0.3s;
}
.nav_item a{
    text-decoration: none;
}
.nav_item a:hover{
    color: #f5b70a;
}
.custome_search{
    display: flex;
    align-items: center;
    padding: 10px 25px;
    height: 35px;
    border-radius: 50px;
    background: #141124;
}
.custome_search input{
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}
.custome_search span i{
      cursor: pointer;
}


.mobile_menu span i {
    font-size: 1.3rem;
}
.mobile_menu{
    display: none;
}
.cart_icon{
    position: relative;
    cursor: pointer;
    z-index: 999;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    background: #f5b70a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
}
.badgee{
    position: absolute;
    top: -38px;
    right: -2px;
    z-index: 1000;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 700;

}
@media  screen and (max-width : 992px) {
    .nav_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        z-index: 99;
        background: #0a071a7e;
        display: none;

    }

    .nav_list_wrapper{
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        z-index: 100;
        background-color: #141124;
        flex-direction: column;
        box-shadow: 5px 5px 15px -5px #f5b70a;
        justify-content: center !important;
        padding: 0 20px;
    }
    .nav_list{
        flex-direction: column;
        padding: 0;
        margin-top: 125px;
        
    }

    .nav_item a {
        font-size: 0.9rem;
    }
    .header{
        line-height: 40px;
        padding: 10px 0;
    }
    .custome_search{
        border: 1px solid #141124;
        padding: 5px 15px;
        font-size: 0.9rem;
        height: 30px;
        margin-top: 15px;
        margin-bottom: 400px;
    }
    .mobile_menu{
        display: block;
    }
    .logo h2{
        font-size: 1.5rem;
    }
    .active_menu{
        display: block;
    }
}
@media screen and (max-width:480px){
    .navigation{
    justify-content: space-between;

    }
    .logo h2{
       font-size: 18px;
    }
    .logo i {
        font-size: 15px;
        margin-right: 3px;
    }
    .cart_icon{
        width: 25px;
        height: 15px;  
        padding: 10px 7px;
        font-size: 10px;
    }
    .badge{
    top: -3px;
    right: -4px;
    font-size: 20px;

    }
}