
.dow{
    background-color: rgb(4, 4, 20);

}
.app_container{
    background-color: #f5b70a;
    /* padding-top: 150px; */
    /* overflow: hidden; */
    border-radius: 10px;

}
.app_img{
    margin-bottom: -100px; 
}
.app_content{
    padding-top: 50px;
}
.app_content p{
    color : #fff;
}
.app_content h5{
    color: #0a071a;
}
.app_content h2{
    color: #0a071a;
    font-weight: 600;
}
.btn_apple{
    background: #0a071a;
    border: none;
    color: #fff;
    padding: 7px 25px;
    border-radius: 5px;
}
.btn_google{
    background: #fff;
    color: #0a071a;
    border: none;
    padding: 7px 25px;
    border-radius: 5px;
}
.btn_google{
    color: #0a071a;
}
.btn_google a  {
    text-decoration: none;
}
.btn_apple a{
    text-decoration: none;
    color: #fff;
}